*.zip
/LoanAccount/nbproject/private/
/LoanAccount/build/
/LoanAccount/dist/
/LoanAccountHiearchy/nbproject/private/

/LoanAccountHiearchy/build/
/Assignment3_CustomerLoanAccounts/nbproject/private/
/Assignment3_CustomerLoanAccounts/build/
/Assignment4_PizzaServingsCalculator/nbproject/private/
/Assignment4_PizzaServingsCalculator/build/
/Assignment5_TwoDimDrawingApp/nbproject/private/
/Assignment5_TwoDimDrawingApp/build/
/Assignment6_FunctionalProgramming/nbproject/private/
/Assignment6_FunctionalProgramming/build/
